<!DOCTYPE html>
<html>
	<head> 
		<meta charset="UTF-8">
		<title>{{titleHere}}</title>
	</head>
	<body>
		<p>Hi {{userName}}, You are sucessfully {{status}}</p>
		<p>
			To {{nextStatus}} please click <a href="{{route}}">here</a>
		</p>
	</body>
</html>